h1{

	color:red;
	text-align:right;
	border : blue;
}


p{
	color:white;
	background-color: violet;
	border : blue;
}
a{
	border: 5px solid red;
	background-color: violet;
}
.menu{
	border: 5px solid black;
	background-color: violet;
	text-align:right;
	border:10%;
	
}
body{
	background-color:blue;
}